body {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: aqua;
    background-color: rgb(122, 176, 110);
  }
  
  #formulario {
    margin: 20px auto;
    width: 300px;
  }
  
  #formulario label {
    display: block;
    margin-bottom: 5px;
  }
  
  #formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  #resultados {
    margin-top: 20px;
    font-weight: bold;
  }
  